.terminal {
    z-index: 10;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.6);
    transition-duration: 0.5s;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -webkit-box-shadow: -1px 5px 19px 3px rgba(0,0,0,0.44);
    -moz-box-shadow: -1px 5px 19px 3px rgba(0,0,0,0.44);
    box-shadow: -1px 5px 19px 3px rgba(0,0,0,0.44);
    cursor: text;
    max-width: 600px;
}

.terminal:hover {
    background: rgba(0, 0, 0, 0.4);
    border: none;
}

.terminal * {
    /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'PT Mono', monospace;
}

.terminal-header {
    width: 100%;
    height: 40px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    transition-duration: 0.5s;
}

.terminal-header-circle {
    height: 12px;
    width: 12px;
    border-radius: 10px;
    margin-right: 10px;
}

.greenback {
    background-color: rgb(100, 212, 100);
}

.redback {
    background-color: rgb(230, 85, 85);
}

.yellowback {
    background-color: rgb(255, 255, 115);
}

.terminal-content {
    padding: 25px;
    padding-right: 100px;
    height: 500px;
    overflow-y: hidden;
}

.terminal-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.terminal-option {
    opacity: 50%;
    cursor: pointer;
}

.terminal-answer {
    opacity: 50%;
}

.terminal-option:hover {
    opacity: 100%;
}

.terminal-line > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    height: 30px;
    padding: 0;
    margin: 0;
}

.terminal-line > p {
    margin: 0;
    padding-top: 6px;
    color: white;
    font-size: 15px;
}

.terminal-option-highlighted {
    cursor: pointer;
}

.terminal-option-highlighted > p {
    color: rgb(255, 255, 116);
}

.terminal-option-highlighted:hover > p {
    color: white;
}

.terminal-line > input {
    padding-top: 6px;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 15px;
    width: 100%;
}

.terminal-line > input:focus {
    outline: none;
}