.terminal {
    background-color: rgb(26, 26, 26);
    z-index: 1;
    
    animation-duration: 0.5s;
    transition-duration: 0.5s;
}

.terminal * {
    font-family: 'Chakra Petch', sans-serif;
}

.terminal-content {
    padding: 25px;
    padding-right: 100px;
    height: 500px;
    overflow-y: hidden;
}

.terminal-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.terminal-option {
    opacity: 30%;
    cursor: pointer;
}

.terminal-answer {
    opacity: 30%;
}

.terminal-option:hover {
    opacity: 100%;
}

.terminal-line > img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    height: 30px;
    padding: 0;
    margin: 0;
}

.terminal-line > p {
    margin: 0;
    padding-top: 3px;
    color: white;
    font-size: var(--text-size-s)
}

.terminal-option-highlighted {
    cursor: pointer;
}

.terminal-option-highlighted > p {
    color: rgb(255, 255, 116);
}

.terminal-option-highlighted:hover > p {
    color: white;
}

.terminal-line > input {
    padding-top: 3px;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: var(--text-size-s);
    width: 100%;
}

.terminal-line > input:focus {
    outline: none;
}

.terminal-navbar {
    height: 20px;
    width: 100%;
    background-color: rgb(19, 19, 19);

}