* {
    box-sizing: border-box;
    /* font-family: 'Chakra Petch', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Play', sans-serif; */
    /* font-family: 'Julius Sans One', sans-serif; */
    font-family: 'Jost', sans-serif;
}

body {
    margin: 0;
}

.green {
    color: var(--color-green);
}

.gray {
    color: var(--color-gray);
}

.bold {
    font-weight: 600;
}

:root {
    --color-background: rgb(43, 43, 43);
    --color-foreground: rgb(255, 254, 254);
    --color-green: rgb(134, 255, 134);
    --color-yellow: rgb(255, 255, 105);
    --color-gray: rgb(95, 95, 95);
    --text-size-xxs: 12px;
    --text-size-xs: 14px;
    --text-size-s: 18px;
    --text-size-m: 22px;
    --text-size-l: 26px;
    --text-size-xl: 30px;
    --text-size-xxl: 34px;
}